body{
    width: 500px;
    height: 300px;
    background-color: #f9f9fa;
}

#commits{
    width: 400px;
    height: 150px;
    overflow: scroll;
    padding: 20px;
    margin-left: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
button{
    width: 90px;
    margin:auto;
}
.pl-10{
    padding-left: 10px;
}
.pr-10{
    padding-right: 10px;
}
.pb-10{
    padding-bottom: 10px;
}
.pt-10{
    padding-top: 10px;
}
